{% extends "base.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}

<article>
  <h1>О проекте:</h1>
  <p>
    <b>LangMemo</b> — это онлайн-платформа, которая использует метод интервального повторения для изучения иностранных языков.
  </p>
  <p>
    Метод интервального повторения — это эффективный способ изучения иностранных языков, основанный на принципах когнитивной психологии и нейронауки. Он помогает повысить эффективность и результативность обучения, а также улучшить долгосрочное запоминание информации.
  </p>
  <p>
    Метод интервального повторения использует принцип подачи учебного материала с определёнными интервалами, что облегчает усвоение новых знаний. Система анализирует уровень знаний пользователя и определяет оптимальный интервал повторения для каждого материала.
  </p>
  <p>
    Преимущества метода интервального повторения:
    <ul>
      <li>повышение эффективности обучения</li>
      <li>улучшение запоминания</li>
      <li>адаптация к уровню знаний пользователя</li>
      <li>мотивация к регулярным занятиям</li>
      <li>удобство использования онлайн</li>
      <li>повышение эффективности обучения</li>
    </ul>
  </p>
  <p>
    <b>LangMemo</b> — ваш надёжный помощник в изучении иностранных языков.
  </p>
</article>

{% endblock %}
