{% extends "base.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}

<article class="row">
  <h1>Telegram-бот проекта Langmemo:</h1>

  <article class="col-6">
    <p>
      Поясняющий текст. И это тоже. И тут.
    <p>
    <p>
      Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. 
    <p>
    <p>
      Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. 
    <p>
    <p>
      Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. 
    <p>
    <p>
      Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. Поясняющий текст. И это тоже. И тут. 
    <p>  
  </article>

  <article class="col-6">
    <hr>
    {% if object.api_token == None%}
      <b>Нет токена!</b>
      <a href="#" class="btn btn-primary">Создать токен</a>
    {% else %}
      <b>Токен: {{ object.api_token }} %</b>
      <a href="#" class="btn btn-danger">Удалить токен</a>
    {% endif %}
  </article>

</article>

{% endblock %}
