{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}LangMemo{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
  <article class="row justify-content-center">
    <div class="col-6">

      <div class="card text-center">
        <div class="card-header">
          Добро пожаловать!
        </div>
        <div class="card-body">
          <h5 class="card-title">Начните эффективно изучать иностранные языки!</h5>
          <p class="card-text">Составьте колоды с лексикой, а LangMemo сделает остальное.</p>
          
          <div class="row justify-content-center">
            
              <label for="homepage-login-button">Уже есть аккаунт?</label>
              <a href="{% url 'login' %}" id="homepage-login-button" class="btn btn-primary col-6">Войти</a>
              <hr class="opacity-0">
              <hr>
              
              <a href="{% url 'registration' %}" class="btn btn-primary col-6">Зарегистрироваться</a>
            
          </div>

        </div>
        <div class="card-footer text-body-secondary">
          LangMemo
        </div>
      </div>

    </div>

  </article>
{% else %}

  <article class="row">
    <h1>Колоды:</h1>
    <hr class="opacity-0">
    <div class="col-4">
      <div class="card">
        <h5 class="card-header bg-success-subtle">Добавить новую колоду</h5>
        <div class="card-body">
          <form method="POST" autocomplete="off" action="{% url 'homepage:create_deck' %}">
            {% csrf_token %}
            {% bootstrap_form form show_label=False autocomplete="off" %}
            <input class="btn btn-success" type="submit" value="Добавить колоду">
          </form>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <h5 class="card-header bg-warning-subtle">Карточек в очереди: {{ cards_total_now }}</h5>
        <div class="card-body">

          <table class="table table-striped">
            <tbody>
              {% for day in calendar%}
                <tr>
                  <td>{{ day.weekday }}</td>
                  <td>+{{ day.diff }}</td>
                  <td>Всего: {{ day.end_of_day }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <h5 class="card-header bg-info-subtle">Настройки</h5>
        <div class="card-body row justify-content-center">

          <a href="{% url 'password_change' %}" class="btn btn-outline-secondary col-8">&#x270e; Сменить пароль</a>
          <hr class="opacity-0">
          <a href="{% url 'pages:tg_bot_page_view' %}" class="btn btn-outline-secondary col-8">
            <img class="icon" src="{% static 'img/TG_logo.svg' %}" width=18 height=18>
             Telegram-бот
          </a>

        </div>
      </div>
    </div>
  </article>

  <hr class="opacity-0">

  <article class="row">
    {% for deck in page_obj %}
      <div class="col-4">
        <div class="card {% if deck.winrate < deck_bad_winrate %}border-danger{% endif %}">
          <h5 class="card-header bg-primary-subtle">{{ deck.deck_name }}</h5>

          <div class="card-body">
            <p class="card-text">
              Карточек: 
              <b>{{ deck.card_count }}</b>
              шт.
            </p>
            <p class="card-text {% if deck.winrate < deck_bad_winrate %}text-danger{% endif %}">
              Доля успеха: 
              {% if deck.winrate == None%}
                <b>Не было ревью!</b>
              {% else %}
                <b>{{ deck.winrate|floatformat:2 }} %</b>
              {% endif %}
            </p>

            
            <div class="hstack gap-3">
              <a href="{% url 'deck:card_list' deck.id %}" class="btn btn-outline-secondary">&#x270e; Редактировать</a>
              <a href="{% url 'homepage:delete_deck' deck.id %}" class="btn btn-danger">Удалить</a>
            </div>

            <hr>
            
            {% if deck.cards_in_queue == 0 %}
              <a class="btn btn-primary disabled">Очередь пуста</a>
            {% else %}
              <a href="{% url 'deck:review_display' deck.id %}" class="btn btn-primary">Изучать {{ deck.cards_in_queue }} шт.</a>
            {% endif %}

            
          </div>
          
        </div>
      </div>

    {% if forloop.counter|divisibleby:"3" %}
      <hr class="opacity-0">
    {% endif %}

    {% endfor %}
    
  </article>
  {% include "includes/paginator.html" %}

{% endif %}

{% endblock %}