{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Memory Cards{% endblock %}

{% block content %}



<article class="container row justify-content-center">
  <h1>Колоды:</h1>
  <hr class="opacity-0">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header bg-success-subtle">Добавить новую колоду</h5>
      <div class="card-body">
        <form method="POST" action="{% url 'homepage:create_deck' %}">
          {% csrf_token %}
          <div class="input-group mb-3">
            <!--<input type="text" id="deck_name" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon2">-->
            {% bootstrap_form form show_label=False %}
            <input class="btn btn-success" type="submit" value="Добавить колоду">
          </div>
        </form>
      </div>
    </div>
  </div>
</article>

<hr class="opacity-0">

<article class="container row">
  {% for deck in page_obj %}
    <div class="col-4">
      <div class="card {% if deck.winrate < 0.5 %}border-danger{% endif %}">
        <h5 class="card-header bg-primary-subtle">{{ deck.deck_name }}</h5>

        <div class="card-body">
          <p class="card-text">
            Карт: 
            <b>{{ deck.card_count }}</b>
            шт.
          </p>
          <p class="card-text {% if deck.winrate < 0.5 %}text-danger{% endif %}">
            Доля успеха: 
            {% if deck.winrate == None%}
              <b>Не было ревью!</b>
            {% else %}
              <b>{{ deck.winrate|floatformat:2 }} %</b>
            {% endif %}
          </p>

          
          <div class="hstack gap-3">
            <a href="{% url 'deck:card_list' deck.id %}" class="btn btn-outline-secondary">&#x270e; Редактировать</a>
            
            <form method="POST" action="{% url 'deck:delete_deck' deck.id %}">
              {% csrf_token %}<input class="btn btn-danger" type="submit" value="Удалить">
            </form>
          </div>

          <hr>
          
          {% if deck.cards_in_queue == 0 %}
            <a class="btn btn-primary disabled">Очередь пуста</a>
          {% else %}
            <a href="{% url 'deck:review' deck.id %}" class="btn btn-primary">Изучать {{ deck.cards_in_queue }} шт.</a>
          {% endif %}

          
        </div>
        
      </div>
    </div>

  {% if forloop.counter|divisibleby:"3" %}
    <hr class="opacity-0">
  {% endif %}

  {% endfor %}
  
</article>
{% include "includes/paginator.html" %}
{% endblock %}