{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}

<hr>
<article class="container row">
  <h1>Колоды:</h1>
  {% for deck in decks %}
    <div class="col-4">
      <div class="card {% if deck.winrate < 0.5 %}border-danger{% endif %}">
        <h5 class="card-header">{{ deck.name }}</h5>

        <div class="card-body">
          <p class="card-text">
            Карт: 
            <b>{{ deck.cards_qty }}</b>
            шт.
          </p>
          <p class="card-text {% if deck.winrate < 0.5 %}text-danger{% endif %}">
            Доля успеха: 
            <b>{{ deck.winrate }}</b>
          </p>
          {% if deck.in_queue == 0 %}
            <a class="btn btn-primary disabled">Очередь пуста</a>
          {% else %}
            <a href="#" class="btn btn-primary">Изучать {{ deck.in_queue }} шт.</a>
          {% endif %}
          <a href="#" class="btn btn-outline-secondary">&#x270e; Редактировать</a>
        </div>
        
      </div>
    </div>

  {% if forloop.counter|divisibleby:"3" %}
    <hr class="opacity-0">
  {% endif %}

  {% endfor %}
  
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Добавить новую колоду</h5>
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon2">
          <button class="btn btn-success" type="button" id="button-addon2">Добавить колоду</button>
        </div>
      </div>
    </div>
  </div>
  
  
</article>

{% endblock %}