{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}
<hr class="opacity-0">
<hr class="opacity-0">
<article>
  <div class="card text-center">
    
    <div class="card-body">
      <h4 class="card-title">Вопрос</h4>
    </div>
    
  </div>

  <hr class="opacity-0">

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Введите ответ" aria-label="Введите ответ" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">➤</button>
  </div>
</article>
{% endblock %}
