{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Memory Cards{% endblock %}

{% block content %}




<article class="container row justify-content-center">
  <h1>Состав колоды {{ deck.deck_name }} ({{ card_count }} шт.):</h1>
  <hr class="opacity-0">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header bg-success-subtle">Добавить новую карту</h5>
      <div class="card-body">
        <form method="post" action="{% url 'deck:create_card' deck.pk %}">
          {% csrf_token %}
          {% bootstrap_form form show_label=False %}
          <!--
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите вопрос" aria-label="Введите вопрос" aria-describedby="basic-addon2">
          </div>
	        Введите до трех вариантов ответа:
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите первый ответ" aria-label="Введите первый ответ" aria-describedby="basic-addon2">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите второй ответ" aria-label="Введите второй ответ" aria-describedby="basic-addon2">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите третий ответ" aria-label="Введите третий ответ" aria-describedby="basic-addon2">
          </div>
          -->
          <input class="btn btn-success" type="submit" value="Добавить карту">
        </form>
      </div>
    </div>
  </div>
</article>

<hr class="opacity-0">

<article class="container row">
  

  {% for card in page_obj %}
  <div class="col-4">
    <div class="card {% if card.winrate < card_bad_winrate %}border-danger{% endif %}">
      <h5 class="card-header bg-primary-subtle">{{ card.question }}</h5>
      <div class="card-body">
        <p class="card-text {% if card.winrate < card_bad_winrate %}text-danger{% endif %}">
          Доля успеха:
          {% if card.winrate == None%}
            <b>Не было ревью!</b>
          {% else %}
            <b>{{ card.winrate|floatformat:2 }} %</b>
          {% endif %}
        </p><p class="card-text">
          Уровень SRS:
          {{ card.srs_level }}
        </p>

        <details>
          <summary>Ответы</summary>
          <ul>
            {% if card.answer_1 is not None %}
              <li>{{ card.answer_1 }}</li>
            {% endif %}

            {% if card.answer_2 is not None %}
              <li>{{ card.answer_2 }}</li>
            {% endif %}

            {% if card.answer_3 is not None %}
              <li>{{ card.answer_3 }}</li>
            {% endif %}
          </ul>
        </details>

        <hr class="opacity-0">

        <div class="hstack gap-3">
          <a href="#" class="btn btn-outline-secondary">&#x270e; Редактировать</a>

          <form method="POST" action="{% url 'deck:delete_card' card.deck.id card.id %}">
            {% csrf_token %}<input class="btn btn-danger" type="submit" value="Удалить">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
    <hr class="opacity-0">
  {% endif %}

  {% endfor %}
  
  
  
  
  
</article>
{% include "includes/paginator.html" %}
{% endblock %}
