{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}

<hr>


<article class="container row">
  <h1>Состав колоды {{ deck.deck_name }}:</h1>

  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Добавить новую карту</h5>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите вопрос" aria-label="Введите вопрос" aria-describedby="basic-addon2">
          </div>
	  Введите до трех вариантов ответа:
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите первый ответ" aria-label="Введите первый ответ" aria-describedby="basic-addon2">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите второй ответ" aria-label="Введите второй ответ" aria-describedby="basic-addon2">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите третий ответ" aria-label="Введите третий ответ" aria-describedby="basic-addon2">
          </div>
          
        </form>
        <a href="#" class="btn btn-success">Добавить</a>
      </div>
    </div>
  </div>
</article>

<hr class="opacity-0">


<article class="container row">
  

  {% for card in page_obj %}
  <div class="col-4">
    <div class="card {% if card.winrate < 0.5 %}border-danger{% endif %}">
      <h5 class="card-header">{{ card.question }}</h5>
      <div class="card-body">
        <p class="card-text {% if card.winrate < 0.5 %}text-danger{% endif %}">
          Доля успеха:
          {% if card.winrate == None%}
            <b>Не было ревью!</b>
          {% else %}
            <b>{{ card.winrate|floatformat:2 }} %</b>
          {% endif %}
        </p><p class="card-text">
          Уровень SRS:
        </p>
        <div class="hstack gap-3">
          <a href="#" class="btn btn-outline-secondary">&#x270e; Редактировать</a>

          <form method="POST" action="{% url 'deck:delete_card' card.deck.id card.id %}">
            {% csrf_token %}<input class="btn btn-danger" type="submit" value="Удалить">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
    <hr class="opacity-0">
  {% endif %}

  {% endfor %}
  
  
  
  
  
</article>

{% endblock %}
