{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Memory Cards{% endblock %}

{% block content %}

<article class="row justify-content-center">
  <h1>Редактировать карту {{ card.question }}:</h1>
  <hr class="opacity-0">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header bg-success-subtle">Редактировать</h5>
      <div class="card-body">
        <form method="post" action="{% url 'deck:edit_card' card.pk %}">
          {% csrf_token %}
          {% bootstrap_form form show_label=True %}

          <div class="hstack gap-3">
            <input class="btn btn-success" type="submit" value="Сохранить">
            <a class="btn btn-danger" href="{% url 'deck:card_list' card.deck.pk %}">Отмена</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</article>

{% endblock %}
