{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Memory Cards{% endblock %}

{% block content %}

<article class="container row justify-content-center">

<h1>Удалить карту?</h1>

<div class="col-4">
  <div class="card {% if card.winrate < card_bad_winrate %}border-danger{% endif %}">
    <h5 class="card-header bg-primary-subtle">{{ card.question }}</h5>
    <div class="card-body">
      <p class="card-text {% if card.winrate < card_bad_winrate %}text-danger{% endif %}">
        Доля успеха:
        {% if card.winrate == None%}
          <b>Не было ревью</b>
        {% else %}
          <b>{{ card.winrate|floatformat:2 }} %</b>
        {% endif %}
      </p>
      <p class="card-text">
        Уровень SRS:
        {{ card.srs_level }}
      </p>
      
      {% if card.in_queue %}
        <p>
          <b>Карта в очереди! Ответы недоступны!</b>
        </p>
      {% else %}
        <details>
          <summary>Ответы</summary>
          <ul>
            {% if card.answer_1 is not None %}
              <li>{{ card.answer_1 }}</li>
            {% endif %}

            {% if card.answer_2 is not None %}
              <li>{{ card.answer_2 }}</li>
            {% endif %}

            {% if card.answer_3 is not None %}
              <li>{{ card.answer_3 }}</li>
            {% endif %}
          </ul>
        </details>
      {% endif %}

      <hr class="opacity-0">

      <div class="hstack gap-3">
        <form method="POST" action="{% url 'deck:delete_card' card.deck.id card.id %}">
          {% csrf_token %}<input class="btn btn-danger" type="submit" value="Удалить">
        </form>
      </div>
    </div>
  </div>
</div>
  
</article>

{% endblock %}
