{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}

<hr>


<article class="container row">
  <h1>Состав колоды {{ deck.deck_name }}:</h1>

  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Добавить новую карту</h5>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите вопрос" aria-label="Введите вопрос" aria-describedby="basic-addon2">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Введите ответы через запятую" aria-label="Введите ответы через запятую" aria-describedby="basic-addon2">
          </div>
          
        </form>
        <a href="#" class="btn btn-success">Добавить</a>
      </div>
    </div>
  </div>
</article>

<hr class="opacity-0">


<article class="container row">
  

  {% for card in deck.card_list %}
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">{{ card }}</h5>
      <div class="card-body">
        <p class="card-text">
          Доля успеха:
        </p><p class="card-text">
          Уровень SRS:
        </p>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
    <hr class="opacity-0">
  {% endif %}

  {% endfor %}
  
  
  
  
  
</article>

{% endblock %}