{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}
<hr class="opacity-0">
<hr class="opacity-0">
<article class="row justify-content-center">
  <div class="col-6">
  <div class="card text-center">
    
    <div class="card-body">
      <h4 class="card-title">{{ reviewed_card }}</h4>
      
      <!--
      <h4 class="card-title"><span class="badge text-bg-success">Правильно!</span></h4>
      <h4 class="card-title"><span class="badge text-bg-danger">Неправильно!</span></h4>
      <h4 class="card-title"><span class="badge text-bg-warning">Внимание!</span></h4>
      -->
      <form method="POST" action="{% url 'deck:review_check' reviewed_card.id %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input id="answer" type="text" class="form-control" placeholder="Введите ответ" aria-label="Введите ответ" aria-describedby="button-addon2">
          <button class="btn btn-primary" type="submit" id="button-addon2">➤</button>
        </div>
      </form>
    </div>
    
  </div>
  </div>

  
</article>
{% endblock %}
