{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}
<hr class="opacity-0">
<hr class="opacity-0">
<article class="row justify-content-center">
  <div class="col-8">
  <div class="card text-center">
    
    <div class="card-body">
      <h4 class="card-title">{{ reviewed_card }}</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control bg-warning-subtle" placeholder="{{ message }}" aria-label="Сообщение" aria-describedby="button-addon2">
        <a href="{% url 'deck:review_display' reviewed_card.deck.id %}" class="btn btn-primary" type="button" id="button-addon2">➤</a>
      </div>
    </div>
    
  </div>
  </div>

  
</article>
{% endblock %}
