{% extends "base.html" %}

{% block title %}LangMemo{% endblock %}

{% block content %}
<hr class="opacity-0">
<hr class="opacity-0">
<article class="row justify-content-center">
  <div class="col-8">
  <div class="card text-center">
    
    <div class="card-body">
      <h4 class="card-title">{{ reviewed_card }}</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control bg-success-subtle" placeholder="{{ message }}" aria-label="Сообщение" aria-describedby="text-input" readonly disabled>
        <a href="{% url 'deck:review_display' reviewed_card.deck.id %}" class="btn btn-primary" id="nextBtn" type="button">➤</a>
      </div>

      <script>
        document.addEventListener("keypress", function(event) {
          if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("nextBtn").click();
          }
        });
      </script>

    </div>
    
  </div>
  </div>

  
</article>
{% endblock %}
