{% extends "base.html" %}

{% block title %}Memory Cards{% endblock %}

{% block content %}
<hr class="opacity-0">
<hr class="opacity-0">
<article class="row justify-content-center">
  <div class="col-8">
  <div class="card text-center">
    
    <div class="card-body">
      <h4 class="card-title">{{ reviewed_card }}</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control bg-success-subtle" placeholder="Правильно!" aria-label="Введите ответ" aria-describedby="button-addon2" readonly disabled>
        <a href="{% url 'deck:review_display' deck.id %}" class="btn btn-primary" type="button" id="button-addon2">➤</a>
      </div>
    </div>
    
  </div>
  </div>

  
</article>
{% endblock %}
